#menuToggle
{
  display: block;
  position: relative;
  top: 50 px;
  left: 50 px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color:#ffe7e7;
  
  transition: color 0.3 s ease;
}

#menuToggle a:hover
{
  color:rgb (194, 113, 113);
}


#menuToggle input
{
  display: block;
  width: 40 px;
  height: 32 px;
  position: absolute;
  top: -7 px;
  left: -5 px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33 px;
  height: 4 px;
  margin-bottom: 5 px;
  position: relative;
  
  background: #bd8383;
  border-radius: 3 px;
  
  z-index: 1;
  
  transform-origin: 4 px 0 px;
  
  transition: transform 0.5 s cubic-bezier (0.77,0.2,0.05,1.0),
              background 0.5 s cubic-bezier (0.77,0.2,0.05,1.0),
              opacity 0.55 s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0 % 0 %;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0 % 100 %;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate (45 deg) translate (-2 px, -1 px);
  background:#ffa8a8;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate (0 deg) scale (0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate (-45 deg) translate (0, -1 px);
}


#menu
{
  position: absolute;
  width: 300 px;
  margin: -100 px 0 0 -50 px;
  padding: 50 px;
  padding-top: 125 px;
  
  background:#9c8787;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  
  transform-origin: 0 % 0 %;
  transform: translate (-100%, 0);
  
  transition: transform 0.5 s cubic-bezier (0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10 px 0;
  font-size: 22 px;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}
